<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Project.Languages" description="Project.Languages">
          <targetDataStore physicalRootPath="$(sourceFolder)\Project\serialization\Languages" />
          <predicate> 
            <include name="Languages" database="master" path="/sitecore/system/Languages" />
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
